<?xml version="1.0"?>
<configuration>
  <location path="Staff_Settings.aspx">
    <system.web>
      <authorization>
        <allow users="TA1,admin,admin1,admin2,admin3,admin4" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StaffPage1.aspx">
    <system.web>
      <authorization>
        <allow users="admin,admin1" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StaffPage2.aspx">
    <system.web>
      <authorization>
        <allow users="admin,admin2" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>